* {
  box-sizing: border-box;
}
.new-product-form {
  width: 90%;
  max-width: 500px;
  margin: auto;
}
.form-field {
  margin-bottom: 1rem;
}
.form-field input, .form-field textarea {
  display: block;
  width: 100%;
  border: 1px solid black;
  margin-top: .2rem;
}
.form-field label {
  text-transform: capitalize;
}
