@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

:root {
  --body-bg: #F4F8FE;
  --btn-primary-bg: #2A6FEA;
  --component-header-bg: #D4E2FB;
  --white: #FFFFFF;
  --black: #000000;
  --black-text-color: #030710;
  --icon-color: #AAC5F7;
  --grey-two: #686A70;
  --grey-four: #CDCDCF;
  --grey-five: #E6E6E7;;
  --grey-six: #F2F3F3;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.page-center {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
svg {
  color: var(--icon-color);
}
.btn {
  padding: 16px 30px;
  background-color: var(--btn-primary-bg);
  color: var(--white);
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu .first,
.menu .second,
.menu .third {
  width: 20px;
  height: 4px;
  border-radius: 20px;
  background-color: var(--btn-primary-bg);
}

.menu-open .first {
  transform: translateY(8px) rotate(45deg);
}
.menu-open .second {
  width: 0px;
}
.menu-open .third {
  transform: translateY(-8px) rotate(-45deg);
}
.blue {
  color: var(--btn-primary-bg);
}
