@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

:root {
  --body-bg: #F4F8FE;
  --btn-primary-bg: #2A6FEA;
  --secondary-color: #6832A5;
  --component-header-bg: #D4E2FB;
  --white: #FFFFFF;
  --black: #000000;
  --black-text-color: #030710;
  --icon-color: #AAC5F7;
  --grey-one: #353940;
  --grey-two: #686A70;
  --grey-three: #828282;
  --grey-four: #CDCDCF;
  --grey-five: #E6E6E7;;
  --grey-six: #F2F3F3;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--body-bg);
  color: var(--black-text-color);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.page-center {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.capitalize {
  text-transform: capitalize;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
svg {
  color: var(--icon-color);
}
.btn {
  padding: 16px 30px;
  background-color: var(--btn-primary-bg);
  color: var(--white);
  cursor: pointer;
  border: none;
}
.bold {
  font-weight: 600;
}
.bg-white {
  background-color: var(--white);
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu .first,
.menu .second,
.menu .third {
  width: 20px;
  height: 4px;
  border-radius: 20px;
  background-color: var(--btn-primary-bg);
}

.menu-open .first {
  transform: translateY(8px) rotate(45deg);
}
.menu-open .second {
  width: 0px;
}
.menu-open .third {
  transform: translateY(-8px) rotate(-45deg);
}
.blue {
  color: var(--btn-primary-bg);
}
.black {
  color: var(--black-text-color);
}
.comp-header {
  background-color: #D4E2FB;
  border-radius: 4px;
  padding: 12px 16px;
}
.comp-header h2, .comp-header h4 {
  font-size: 16px;
}

/* flash sale and top ranked products belong to products group one*/
/* recommended and new arrival products belong to products group one*/

.products-group-one, 
.products-group-two {
  display: grid;
  gap: 1rem;
  background-color: var(--white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  padding: .7rem 1.34rem;
}

.products-group-two {
  justify-content: center;
}

/* sign up and log in page */

.auth-container {
  width: 90%;
  margin: auto;
  padding: 1rem;
  background: var(--white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

@media (min-width: 576px) {
  .products-group-one {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 768px) {
  .comp-header h2 {
    font-size: 1.5rem;
  }
  .products-group-one {
      grid-template-columns: repeat(3, auto);
      justify-content: stretch;
      row-gap: 2rem;
      column-gap: .5rem;
      padding: 1rem;
    }

  .products-group-two {
    grid-template-columns: repeat(2, auto);
    justify-content: stretch;
    row-gap: 2rem;
    column-gap: .5rem;
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .products-group-one {
    grid-template-columns: repeat(4, auto);
    column-gap: .75rem;
    padding: .7rem 1rem;
  }
  .products-group-two {
    grid-template-columns: repeat(3, auto);
    column-gap: .5rem;
    padding: .7rem 1rem;
  }
}

@media (min-width: 1200px) {
  .products-group-one {
    grid-template-columns: repeat(5, auto);
    column-gap: .75rem;
    padding: .7rem 1rem;
  }
}

